<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/demo?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password123</property>

        <property name="connection.pool_size">1</property>

        <property name="show_sql">true</property>

        <property name="current_session_context_class">thread</property>

        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>

        <mapping class="de.msgdavid.crud.movie.Movie" />
    </session-factory>
</hibernate-configuration>